body {
  background: #aaa;
  font-family: 'helvetica';
}

button {
  margin-bottom: 10px;
}

.columns {
  align-items: center;
  display: flex;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.component {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid--row {
  display: flex;
  flex-direction: row;
}

.grid--cell {
  color: gray;
  height: 10px;
  margin: 1px;
  width: 10px;
}

.grid--cell-live {
  background-color: #1234af;
}

.grid--cell-dead {
  background-color: #888;
}
